HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Backend Resources - Configuration Files ###
# Application properties and YAML files (contains sensitive data)
**/src/main/resources/application.properties
**/src/main/resources/application.yml
**/src/main/resources/application-*.properties
**/src/main/resources/application-*.yml

# Environment-specific configs
**/src/main/resources/application-dev.properties
**/src/main/resources/application-prod.properties
**/src/main/resources/application-local.properties

# Don't ignore pom.xml - you need this in version control!
# pom.xml should NOT be ignored